* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

.footer {
    background: #2f384d;
    color: white;
}

.footer-top {
    display: flex;
    align-items: center;
}

.logo-bds {
    width: 50px;
}

.insta {
    width: 50px;
    border-radius: 50px;
}